<!-- Contenedor Principal de Registro -->
<div class="container-form form" id="registerSection">
  <div class="form container">
    <div class="modal-header">
      <h5 class="modal-title heading" id="registerModalLabel">
        Registro de Usuario
      </h5>
    </div>
    <div class="modal-body">
      <!-- Formulario Reactivo -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Nombre -->
        <div class="mb-3">
          <label for="first_name" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control input"
            id="first_name"
            formControlName="first_name"
            placeholder="Ingrese su nombre"
            required
          />
          <div
            *ngIf="
              registerForm?.get('first_name')?.hasError('hasNumber') &&
              registerForm?.get('first_name')?.touched
            "
            class="text-danger"
          >
            El nombre no debe contener números
          </div>
        </div>

        <!-- Apellidos -->
        <div class="mb-3">
          <label for="last_name" class="form-label">Apellidos</label>
          <input
            type="text"
            class="form-control input"
            id="last_name"
            formControlName="last_name"
            placeholder="Ingrese sus apellidos"
            required
          />
          <div
            *ngIf="
              registerForm?.get('last_name')?.hasError('hasNumber') &&
              registerForm?.get('last_name')?.touched
            "
            class="text-danger"
          >
            Los apellidos no deben contener números
          </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control input"
            id="email"
            formControlName="email"
            placeholder="Ingrese su email"
            required
          />
          <div
            *ngIf="
              registerForm.get('email')?.hasError('email') &&
              registerForm.get('email')?.touched
            "
            class="text-danger"
          >
            El formato del correo electrónico no es válido.
          </div>
          <div
            *ngIf="registerForm.get('email')?.hasError('emailTaken')"
            class="text-danger"
          >
            El email ya está registrado.
          </div>
        </div>

        <!-- Username -->
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de usuario</label>
          <input
            type="text"
            class="form-control input"
            id="username"
            formControlName="username"
            placeholder="Elija un nombre de usuario"
            required
          />
          <div
            *ngIf="registerForm.get('username')?.hasError('usernameTaken')"
            class="text-danger"
          >
            El nombre de usuario ya está en uso.
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3" style="position: relative">
          <label for="password" class="form-label">Contraseña</label>
          <div class="toggle-visibility-container">
            <input
              type="{{ passwordType }}"
              class="form-control input"
              id="password"
              formControlName="password"
              placeholder="Introduzca su contraseña"
              required
            />
            <button
              class="btn"
              type="button"
              id="password-toggle"
              (click)="togglePasswordVisibility()"
              (click)="toggleIconPassword()"
            >
              <i *ngIf="showIconPassword" class="fa-solid fa-eye-slash"></i>
              <i *ngIf="!showIconPassword" class="fa-solid fa-eye"></i>
            </button>
          </div>
          <div
            *ngIf="
              registerForm.get('password')?.hasError('pattern') &&
              registerForm.get('password')?.touched
            "
            class="text-danger"
          >
            La contraseña debe tener entre 8 y 16 caracteres, al menos un
            número, al menos un carácter especial, al menos una minúscula y al
            menos una mayúscula.
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="mb-3" style="position: relative">
          <label for="confirmPassword" class="form-label"
            >Repita la contraseña</label
          >
          <div class="toggle-visibility-container">
            <input
              type="{{ confirmPasswordType }}"
              class="form-control input"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Repita su contraseña"
              required
            />
            <button
              class="btn"
              type="button"
              id="confirm-password-toggle"
              (click)="toggleConfirmPasswordVisibility()"
              (click)="toggleIconConfirmPassword()"
            >
              <i
                *ngIf="showIconConfirmPassword"
                class="fa-solid fa-eye-slash"
              ></i>
              <i *ngIf="!showIconConfirmPassword" class="fa-solid fa-eye"></i>
            </button>
          </div>
          <div
            *ngIf="
              registerForm.get('confirmPassword')?.invalid &&
              registerForm.get('confirmPassword')?.touched
            "
            class="text-danger"
          >
            La confirmación de la contraseña es obligatoria.
          </div>
          <div
            *ngIf="
          registerForm.errors?.['passwordsDontMatch'] &&
          registerForm.get('confirmPassword')?.touched
        "
            class="text-danger"
          >
            Las contraseñas no coinciden.
          </div>
        </div>

        <!-- Fecha de nacimiento -->
        <div class="mb-3">
          <label for="birth_date" class="form-label">Fecha de nacimiento</label>
          <input
            type="date"
            class="form-control input"
            id="birth_date"
            formControlName="birth_date"
            required
          />

          <!-- Mensaje de error de Bootstrap para fecha futura -->
          <div
            *ngIf="
              registerForm?.get('birth_date')?.hasError('futureDate') &&
              registerForm?.get('birth_date')?.touched
            "
            class="text-danger"
          >
            La fecha de nacimiento no puede ser futura.
          </div>
        </div>

        <!-- Politica de privacidad Checkbox -->
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="termsCheckbox"
            formControlName="termsCheckbox"
            style="display: none"
          />
          <label for="termsCheckbox" class="check" style="color: #1f1f2e">
            <svg width="18px" height="18px" viewBox="0 0 18 18">
              <path
                d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"
              ></path>
              <polyline points="1 9 7 14 15 4"></polyline>
            </svg>
            Acepto la
            <a href="/privacy-policy">política de privacidad.</a>
          </label>
          <div
            *ngIf="
              registerForm.get('termsCheckbox')?.hasError('required') &&
              registerForm.get('termsCheckbox')?.touched
            "
            class="text-danger"
          >
            Debe aceptar la política de privacidad para continuar.
          </div>
        </div>
        <!-- Botón para registrarse -->
        <div class="mb-3">
          <button type="submit" class="btn btn-primary register-button">
            Registrarse
          </button>
        </div>
        <p class="acc-msg">
          <strong>¿Ya tienes cuenta?</strong>
          Inicia sesión
          <a class="btn-link" routerLink="/login"> aquí </a>
        </p>
      </form>
    </div>
  </div>
</div>
