<div class="container mt-5">
  <h1 class="mb-4">Episodios</h1>

  <!-- Controles de filtro -->
  <div class="mb-4">
    <label for="seasonFilter">Filtrar por temporada:</label>
    <select
      id="seasonFilter"
      [(ngModel)]="seasonFilter"
      (change)="filterBySeason()"
    >
      <option value="">Todas las temporadas</option>
      <option value="S01">Temporada 1</option>
      <option value="S02">Temporada 2</option>
      <option value="S03">Temporada 3</option>
      <option value="S04">Temporada 4</option>
      <option value="S05">Temporada 5</option>
    </select>
  </div>

  <!-- Contenedor para los episodios -->
  <div class="row">
    <div class="col-md-4" *ngFor="let episode of episodes">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ episode.name }}</h5>
          <p class="card-text">
            <strong>Episodio:</strong> {{ episode.episode }} <br />
            <strong>Fecha de emisión:</strong> {{ episode.air_date }}
          </p>
          <!-- Botón para abrir la modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#episodeModal"
            (click)="openModal(episode)"
          >
            Ver Personajes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Ventana modal para mostrar personajes -->
  <div
    class="modal fade"
    id="episodeModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Personajes en {{ selectedEpisode?.name }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let character of charactersOfEpisode">
              {{ character.name }}
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
