body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #00bcd4;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
}

label {
  color: #333;
}

select {
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-left: 10px;
}

.card {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 15px;
}

.card-title {
  color: #333;
  font-size: 1.5rem;
}

.card-text {
  color: #666;
  line-height: 1.5;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary {
  background-color: #00bcd4;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0097a7;
}

.btn-secondary {
  background-color: #ddd;
  color: #333;
}

.btn-secondary:hover {
  background-color: #bbb;
}

.btn-close {
  padding: 0;
  background: none;
  border: none;
}

.modal-content {
  border-radius: 5px;
}

.modal-header,
.modal-footer {
  border-bottom: none;
  border-top: none;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: vertical;
}

button[type="submit"] {
  background-color: #00bcd4;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0097a7;
}

.noComments {
  color: #999;
  text-align: center;
}

.char-img {
  width: 15%;
}
