<div class="container mt-5">
  <h1 class="mb-4">Episodios</h1>

  <!-- Controles de filtro -->
  <div class="mb-4">
    <label for="seasonFilter">Filtrar por temporada:</label>
    <select
      id="seasonFilter"
      [(ngModel)]="seasonFilter"
      (change)="filterBySeason()"
    >
      <option value="">Todas las temporadas</option>
      <option *ngFor="let season of uniqueSeasons" [value]="season">
        {{ "Temporada " + season.slice(1) }}
      </option>
    </select>
  </div>

  <!-- Contenedor para los episodios -->
  <div class="row">
    <div
      class="col-md-4"
      *ngFor="let episode of episodes; trackBy: trackByEpisodeId"
    >
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">
            {{ getTranslation(episode.name, "name") }}
          </h5>
          {{ getFormattedEpisode(episode.episode) }}
          <br />
          <strong>Fecha de emisión:</strong>
          {{ getFormattedDate(episode.air_date) }}

          <!-- Botón para abrir la modal de personajes -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#charactersModal"
            (click)="openCharactersModal(episode)"
          >
            Ver Personajes
          </button>

          <!-- Botón para abrir la modal de comentarios -->
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#commentsModal"
            (click)="openCommentsModal(episode)"
          >
            Valorar y comentar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Ventana modal para mostrar personajes -->
  <div
    class="modal fade"
    id="charactersModal"
    tabindex="-1"
    aria-labelledby="charactersModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="charactersModalLabel">
            Personajes en {{ getTranslation(selectedEpisode?.name, "name") }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let character of charactersOfEpisode">
              <img
                [src]="character.image"
                alt="{{ character.name }} image"
                class="char-img"
              />
              {{ character.name }}
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Ventana modal para ver y añadir comentarios -->
  <div
    class="modal fade"
    id="commentsModal"
    tabindex="-1"
    aria-labelledby="commentsModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Este es el ícono o botón que el usuario puede clickear para marcar como visto/no visto -->

          <h5 class="modal-title" id="commentsModalLabel">
            Comentarios para
            {{ getTranslation(selectedEpisode?.name, "episode") }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="rating-section">
            <!-- Si el usuario no ha valorado el episodio aún -->
            <ng-container *ngIf="userRating === null; else userHasRated">
              <h6>Valorar este episodio:</h6>
              <app-rating
                [(rating)]="currentRating"
                (ratingChange)="submitRating()"
              ></app-rating>
            </ng-container>

            <!-- Si el usuario ya ha valorado el episodio -->
            <ng-template #userHasRated>
              <h6>Tu valoración para este episodio:</h6>
              <app-rating
                [(rating)]="currentRating"
                (ratingChange)="submitRating()"
              ></app-rating>
            </ng-template>

            <p>Calificación promedio: {{ averageRating | number : "1.0-1" }}</p>
          </div>

          <form (ngSubmit)="submitComment()">
            <textarea
              [(ngModel)]="commentText"
              name="comment"
              required=""
            ></textarea>
            <button type="submit">Enviar Comentario</button>
          </form>
          <div *ngIf="comments.length > 0; else noComments">
            <div *ngFor="let comment of comments">
              <p>
                <strong>{{ comment.username }}</strong
                >: {{ comment.content }}
              </p>
              <p>{{ comment.createdAt | date }}</p>
              <!-- Actualiza la condición aquí para llamar al nuevo método canDeleteComment -->
              <button
                *ngIf="canDeleteComment(comment.userId)"
                (click)="deleteComment(comment.id)"
              >
                Eliminar
              </button>
            </div>
          </div>

          <ng-template #noComments>
            <p>No hay comentarios para este episodio aún.</p>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
