.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -------------------- MODAL -------------------- */

/* Ventana modal */
.modal-content {
  border-radius: 10px;
  border: none;
}

.modal-header {
  border-bottom: none;
  padding: 15px 20px;
}

.modal-title {
  color: #00bcd4;
}

.modal-body {
  padding: 20px;
}

.container-form {
  display: flex;
  justify-content: center;
}

.modal-wide {
  min-width: 600px;
}

.modal-container {
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 20px;
  padding: 5px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

/* Header */
.heading {
  text-align: center;
  font-weight: 800; /* Disminuir un poco el peso puede mejorar la legibilidad */
  font-size: 32px; /* Un ligero incremento para darle más presencia */
  color: #00bcd4;
  letter-spacing: -0.5px; /* Controla el espacio entre letras para un look más ajustado */
  line-height: 1.2; /* Asegura un espacio adecuado entre líneas si el título tiene más de una línea */
  text-shadow: 2px 2px 4px rgba(0, 188, 212, 0.2); /* Añade una sombra sutil para darle profundidad */
}

/* Lista de personajes */
.characters-list {
  list-style: none;
  padding: 0;
  display: grid; /* Usa grid en lugar de flex */
  grid-template-columns: repeat(
    auto-fill,
    minmax(120px, 1fr)
  ); /* Define columnas de tamaño uniforme */
  gap: 15px; /* Espacio entre elementos */
}

/* Elemento de lista individual */
.characters-list li {
  display: flex;
  flex-direction: column; /* Orienta los elementos en dirección vertical */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Alinea el texto al centro */
}

/* Imagen del personaje */
.char-img {
  width: 60px; /* Aumenta el tamaño de la imagen */
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px; /* Espacio entre la imagen y el texto */
}

/* Texto del residente */
.resident-name {
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Mensaje cuando no hay residentes */
.no-characters-msg {
  text-align: center;
  color: #666;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid
    var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.characters-list {
  max-height: 450px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura máxima */
  margin: 0;
  padding: 0;
  list-style: none;
}

.characters-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.char-img {
  width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.resident-name {
  font-size: 1rem;
}

/* -------------------- BOTÓN MODAL -------------------- */

.box {
  width: auto;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0.7em;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(168, 255, 68, 0.55);
}

.box:hover:before {
  border-color: rgb(31, 31, 46);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.modal-button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.modal-footer {
  justify-content: center;
}

/* Botón personalizado*/
.custom-button {
  display: block; /* para que se alinee con otros elementos si es necesario */
  width: 10vw; /* puedes ajustar esto según tus necesidades */
  font-weight: bold;
  background: linear-gradient(45deg, #1f1f2e 0%, #181820 100%);
  color: white; /* Color del texto, lo dejé en blanco por legibilidad, pero ajusta según tus necesidades */
  padding-block: 15px;
  margin: 20px auto; /* ajusta según tus necesidades */
  border-radius: 20px;
  box-shadow: rgba(31, 31, 46, 0.8784313725) 0px 20px 10px -15px; /* he ajustado el color del box-shadow a #1F1F2E con una opacidad del 87.8% */
  border: none;
  transition: all 0.2s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(31, 31, 46, 0.8784313725) 0px 23px 10px -20px;
}

.custom-button:active {
  transform: scale(0.95);
  box-shadow: rgba(31, 31, 46, 0.8784313725) 0px 15px 10px -10px;
}

/* -------------------- DROPDOWN FILTROS -------------------- */

/* Estilo para el menú desplegable */
[ngbDropdownMenu] {
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  border: none; /* Sin bordes */
  padding: 10px 0; /* Relleno vertical */
  background-color: #f8f9fa; /* Fondo claro */
}

/* Estilo para cada elemento dentro del menú */
.dropdown-item {
  padding: 10px 20px; /* Relleno interno */
  color: #333; /* Color de texto */
}

.dropdown-item:hover {
  background-color: #e2e6ea; /* Fondo al pasar el ratón */
}

/* Estilo para los selectores (select) */
.dropdown-item select {
  padding: 8px 10px; /* Relleno */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #ced4da; /* Borde sutil */
  background-color: white; /* Fondo blanco */
  color: #495057; /* Color de texto */
}

.dropdown-item select:focus {
  border-color: #00bcd4; /* Borde al enfocar */
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.25); /* Sombra al enfocar */
}

/* Estilo para el botón de restablecer filtros */
.dropdown-item button {
  background-color: #ff4565; /* Color llamativo */
  color: white; /* Texto blanco */
  border: none; /* Sin bordes */
  padding: 8px 15px; /* Relleno */
  border-radius: 4px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
}

.dropdown-item button:hover {
  background-color: #d53958; /* Color al pasar el ratón */
}

/* Estilo del botón de búsqueda */
.btn-filters {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #00bcd4;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

/* Efecto hover del botón de búsqueda */
.btn-filters:hover {
  background-color: #009fa8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* -------------------- CARDS -------------------- */

.card {
  border-radius: 10px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  background-image: url(../../../assets/img/episodes-img/ep.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido y los botones se separen */
  height: 90%; /* Asegura que todas las tarjetas tengan la misma altura */
}

.card-content {
  flex: 1;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #00bcd4;
  text-shadow: 2px 2px 4px rgba(0, 160, 168, 0.25);
  text-transform: uppercase;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  color: #1f1f2e; /* Un gris suave para el texto */
  margin-bottom: 0.5rem;
}

/* -------------------- BOTÓN COMENTAR -------------------- */

.bookmarkBtn {
  width: 130px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
}

.IconContainer {
  width: 30px;
  height: 30px;
  background-color: #00bcd4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f1f2e;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1em;
  font-weight: 550;
}

button.bookmarkBtn {
  margin-top: 15px;
}

.bookmarkBtn:hover .IconContainer {
  width: 120px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

p.text {
  margin-bottom: 0;
}

/* -------------------- MODAL 2 -------------------- */

.btn-add-comment {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: white;
  z-index: 1;
  background: #00bcd4;
  position: relative;
  font-weight: 700;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  margin-bottom: 15px;
}

.btn-add-comment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #009fa8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn-add-comment:hover {
  color: #e8e8e8;
}

.btn-add-comment:hover::before {
  width: 100%;
}

.btn-delete-comment {
  padding: 10px 12px;
  background-color: #ff4565;
}

.btn-delete-comment:hover {
  background-color: #d53958;
}

.comment-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment-item p {
  margin: 0;
}

.comment-item strong {
  font-weight: bold;
  color: #333;
}

.properties-title h6 {
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.properties-title h6:after,
.properties-title h6:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color: #f7f9fc;
}

/* Estilo para la tarjeta de valoración media */
.rating-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rating-card .card-title {
  font-weight: bold;
  color: #00bcd4;
  margin-bottom: 0.5rem;
}

.rating-card .card-text {
  font-size: 1.2rem;
  color: #333;
}

.noselect {
  width: 120px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #ff4565;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #ff4565;
}

.noselect,
.noselect span {
  transition: 200ms;
}

.noselect .text {
  transform: translateX(10px);
  color: white;
  font-size: 12px;
}

.noselect .icon {
  position: absolute;
  transform: translateX(95px);
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect svg {
  width: 15px;
  fill: #eee;
}

.noselect:hover {
  background: #d53958;
}

.noselect:hover .text {
  color: transparent;
}

.noselect:hover .icon {
  width: 120px;
  border-left: none;
  transform: translateX(0);
}

.noselect:focus {
  outline: none;
}

.noselect:active .icon svg {
  transform: scale(0.8);
}

.rating-rating {
  display: flex;
  justify-content: space-between;
}

/* -------------------- BOTÓN VISTO/NO VISTO -------------------- */

.btn-episode-status-yes {
  margin-left: 10px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-episode-status-yes:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.btn-episode-status-no {
  margin-left: 10px;
  background-color: #e0e0e0; /* Fondo gris claro */
  border-radius: 100px;
  box-shadow: rgba(128, 128, 128, 0.2) 0 -25px 18px -14px inset,
    rgba(128, 128, 128, 0.15) 0 1px 2px, rgba(128, 128, 128, 0.15) 0 2px 4px,
    rgba(128, 128, 128, 0.15) 0 4px 8px, rgba(128, 128, 128, 0.15) 0 8px 16px,
    rgba(128, 128, 128, 0.15) 0 16px 32px; /* Sombra en tonos grises */
  color: #606060; /* Texto en gris oscuro */
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-episode-status-no:hover {
  box-shadow: rgba(128, 128, 128, 0.35) 0 -25px 18px -14px inset,
    rgba(128, 128, 128, 0.25) 0 1px 2px, rgba(128, 128, 128, 0.25) 0 2px 4px,
    rgba(128, 128, 128, 0.25) 0 4px 8px, rgba(128, 128, 128, 0.25) 0 8px 16px,
    rgba(128, 128, 128, 0.25) 0 16px 32px; /* Sombra más intensa en hover */
  transform: scale(1.05) rotate(-1deg);
}

div.card-action-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2vh;
}

/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 768px) {
  .modal-wide {
    width: 100%;
    min-width: 0;
  }

  .container {
    padding: 0 10px;
  }

  .card {
    margin: 10px;
  }

  .btn-filters,
  .btn-add-comment {
    padding: 8px 15px;
  }

  .card-body {
    padding: 10px;
  }
}
