<nav
  class="navbar navbar-expand-lg navbar-light bg-light navbar-custom container-fluid"
>
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img
        src="assets/favicon.ico"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Rick&Morty Fan Hub
    </a>
    <!-- Navegación -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Menú alineado a la izquierda -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <button class="btn nav-link" routerLink="/home">
            <span class="box"> Inicio</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn nav-link" routerLink="/characters">
            <span class="box"> Personajes</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn nav-link" routerLink="/episodes">
            <span class="box"> Episodios</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn nav-link" routerLink="/locations">
            <span class="box"> Ubicaciones</span>
          </button>
        </li>
      </ul>

      <!-- Menú alineado a la derecha -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn nav-link" *ngIf="isLogged()" routerLink="/profile">
            <span class="box"> Mi perfil</span>
          </button>
        </li>
        <li class="nav-item" *ngIf="isLogged() && isAdmin()">
          <button class="btn nav-link" routerLink="/admin">
            <span class="box"> Panel admin</span>
          </button>
        </li>

        <!-- Si el usuario NO está logueado -->
        <li class="nav-item" *ngIf="!isLogged()">
          <app-login></app-login>
        </li>
        <li class="nav-item" *ngIf="!isLogged()">
          <app-register></app-register>
        </li>
        <!-- Si el usuario está logueado -->
        <li class="nav-item" *ngIf="isLogged()">
          <app-logout></app-logout>
        </li>
      </ul>
    </div>
  </div>
</nav>
