<!-- Muestra la tabla si hay usuarios -->
<div *ngIf="users && users.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <button
            class="btn btn-danger"
            (click)="deleteSelectedUsers()"
            title="Eliminar usuarios seleccionados"
          >
            <i class="fa-solid fa-trash"></i> Eliminar seleccionados
          </button>
        </th>
        <th (click)="toggleSort('id')">
          Id
          <i
            [ngClass]="
              currentSorting === 'id'
                ? isAscending
                  ? 'fa-solid fa-sort-up'
                  : 'fa-solid fa-sort-down'
                : 'fa-solid fa-sort'
            "
          ></i>
        </th>
        <th (click)="toggleSort('first_name')">
          Nombre
          <i
            [ngClass]="
              currentSorting === 'first_name'
                ? isAscending
                  ? 'fa-solid fa-sort-up'
                  : 'fa-solid fa-sort-down'
                : 'fa-solid fa-sort'
            "
          ></i>
        </th>
        <th (click)="toggleSort('last_name')">
          Apellidos
          <i
            [ngClass]="
              currentSorting === 'last_name'
                ? isAscending
                  ? 'fa-solid fa-sort-up'
                  : 'fa-solid fa-sort-down'
                : 'fa-solid fa-sort'
            "
          ></i>
        </th>
        <th (click)="toggleSort('email')">
          Correo electrónico
          <i
            [ngClass]="
              currentSorting === 'email'
                ? isAscending
                  ? 'fa-solid fa-sort-up'
                  : 'fa-solid fa-sort-down'
                : 'fa-solid fa-sort'
            "
          ></i>
        </th>
        <th (click)="toggleSort('username')">
          Nombre de usuario
          <i
            [ngClass]="
              currentSorting === 'username'
                ? isAscending
                  ? 'fa-solid fa-sort-up'
                  : 'fa-solid fa-sort-down'
                : 'fa-solid fa-sort'
            "
          ></i>
        </th>
        <th>Privilegios</th>
        <th (click)="toggleSort('birth_date')">
          Fecha de nacimiento
          <i
            [ngClass]="
              currentSorting === 'birth_date'
                ? isAscending
                  ? 'fa-solid fa-sort-up'
                  : 'fa-solid fa-sort-down'
                : 'fa-solid fa-sort'
            "
          ></i>
        </th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><input type="checkbox" [(ngModel)]="user.isSelected" /></td>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>
          <select [(ngModel)]="user.user_type">
            <option value="admin">Admin</option>
            <option value="normal">Normal</option>
          </select>
        </td>
        <td>{{ user.birth_date | date : "dd-MM-yyyy" }}</td>
        <td>
          <button
            class="btn btn-primary"
            [disabled]="!hasUserTypeChanged(user)"
            (click)="confirmUpdate(user.id, user.user_type)"
          >
            <i class="fa-solid fa-rotate"></i>
          </button>
          <button (click)="confirmDelete(user.id)" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <nav>
      <ul class="pagination">
        <!-- Botón para ir a la primera página -->
        <li class="page-item" [class.disabled]="currentPage == 0">
          <button
            class="page-link btn btn-outline-primary"
            (click)="changePage(0)"
          >
            Primero
          </button>
        </li>

        <!-- Crear un botón para cada página disponible -->
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="i === currentPage"
        >
          <button
            class="page-link btn btn-outline-primary"
            (click)="changePage(i)"
          >
            {{ i + 1 }}
          </button>
        </li>

        <!-- Botón para ir a la última página -->
        <li class="page-item" [class.disabled]="currentPage == totalPages - 1">
          <button
            class="page-link btn btn-outline-primary"
            (click)="changePage(totalPages - 1)"
          >
            Último
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Si no hay usuarios, muestra un mensaje en un card de Bootstrap -->
<div
  *ngIf="!users || users.length === 0"
  class="d-flex justify-content-center align-items-center vh-100"
>
  <div class="card shadow-lg">
    <div class="card-body text-center">
      <i class="fa fa-exclamation-circle fa-3x text-warning mb-3"></i>
      <h4 class="card-title">Información</h4>
      <p class="card-text">No hay usuarios para mostrar.</p>
    </div>
  </div>
</div>
