<div class="big-container">
  <div class="container">
    <h1>POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS</h1>
    <p>
      Respetando lo establecido en la legislación vigente, Rick and Morty Fan
      Hub (en adelante, también Sitio Web) se compromete a adoptar las medidas
      técnicas y organizativas necesarias, según el nivel de seguridad adecuado
      al riesgo de los datos recogidos.
    </p>

    <h2>Leyes que incorpora esta política de privacidad</h2>
    <p>
      Esta política de privacidad está adaptada a la normativa española y
      europea vigente en materia de protección de datos personales en internet.
      En concreto, la misma respeta las siguientes normas:
    </p>
    <ul>
      <li>
        El Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27
        de abril de 2016, relativo a la protección de las personas físicas en lo
        que respecta al tratamiento de datos personales y a la libre circulación
        de estos datos (RGPD).
      </li>
      <li>
        La Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos
        Personales y garantía de los derechos digitales (LOPD-GDD).
      </li>
      <li>
        El Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el
        Reglamento de desarrollo de la Ley Orgánica 15/1999, de 13 de diciembre,
        de Protección de Datos de Carácter Personal (RDLOPD).
      </li>
      <li>
        La Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
        Información y de Comercio Electrónico (LSSI-CE).
      </li>
    </ul>

    <h2>Identidad del responsable del tratamiento de los datos personales</h2>
    <p>
      El responsable del tratamiento de los datos personales recogidos en Rick
      and Morty Fan Hub es: Rubén Escudero Calamonte, con NIF: 09207794C (en
      adelante, Responsable del tratamiento). Sus datos de contacto son los
      siguientes:
    </p>
    <ul>
      <li>Dirección: Calle Reyes Huertas</li>
      <li>Teléfono de contacto: 658234218</li>
      <li>Email de contacto: rubenec99&#64;gmail.com</li>
    </ul>

    <h2>Registro de Datos de Carácter Personal</h2>
    <p>
      En cumplimiento de lo establecido en el RGPD y la LOPD-GDD, le informamos
      que los datos personales recabados por Rick and Morty Fan Hub, mediante
      los formularios extendidos en sus páginas quedarán incorporados y serán
      tratados en nuestro fichero con el fin de poder facilitar, agilizar y
      cumplir los compromisos establecidos entre Rick and Morty Fan Hub y el
      Usuario o el mantenimiento de la relación que se establezca en los
      formularios que este rellene, o para atender una solicitud o consulta del
      mismo.
    </p>
    <p>
      Asimismo, de conformidad con lo previsto en el RGPD y la LOPD-GDD, salvo
      que sea de aplicación la excepción prevista en el artículo 30.5 del RGPD,
      se mantiene un registro de actividades de tratamiento que especifica,
      según sus finalidades, las actividades de tratamiento llevadas a cabo y
      las demás circunstancias establecidas en el RGPD.
    </p>

    <h2>Principios aplicables al tratamiento de los datos personales</h2>
    <p>
      El tratamiento de los datos personales del Usuario se someterá a los
      siguientes principios recogidos en el artículo 5 del RGPD y en el artículo
      4 y siguientes de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección
      de Datos Personales y garantía de los derechos digitales:
    </p>
    <ul>
      <li>
        Principio de licitud, lealtad y transparencia: se requerirá en todo
        momento el consentimiento del Usuario previa información completamente
        transparente de los fines para los cuales se recogen los datos
        personales.
      </li>
      <li>
        Principio de limitación de la finalidad: los datos personales serán
        recogidos con fines determinados, explícitos y legítimos.
      </li>
      <li>
        Principio de minimización de datos: los datos personales recogidos serán
        únicamente los estrictamente necesarios en relación con los fines para
        los que son tratados.
      </li>
      <li>
        Principio de exactitud: los datos personales deben ser exactos y estar
        siempre actualizados.
      </li>
      <li>
        Principio de limitación del plazo de conservación: los datos personales
        solo serán mantenidos de forma que se permita la identificación del
        Usuario durante el tiempo necesario para los fines de su tratamiento.
      </li>
      <li>
        Principio de integridad y confidencialidad: los datos personales serán
        tratados de manera que se garantice su seguridad y confidencialidad.
      </li>
      <li>
        Principio de responsabilidad proactiva: el Responsable del tratamiento
        será responsable de asegurar que los principios anteriores se cumplen.
      </li>
    </ul>

    <h2>Categorías de datos personales</h2>
    <p>
      Las categorías de datos que se tratan en Rick and Morty Fan Hub son
      únicamente datos identificativos. En ningún caso, se tratan categorías
      especiales de datos personales en el sentido del artículo 9 del RGPD.
    </p>

    <h2>Base legal para el tratamiento de los datos personales</h2>
    <p>
      La base legal para el tratamiento de los datos personales es el
      consentimiento. Rick and Morty Fan Hub se compromete a recabar el
      consentimiento expreso y verificable del Usuario para el tratamiento de
      sus datos personales para uno o varios fines específicos.
    </p>
    <p>
      El Usuario tendrá derecho a retirar su consentimiento en cualquier
      momento. Será tan fácil retirar el consentimiento como darlo. Como regla
      general, la retirada del consentimiento no condicionará el uso del Sitio
      Web.
    </p>

    <h2>Fines del tratamiento a que se destinan los datos personales</h2>
    <p>
      Los datos personales son recabados y gestionados por Rick and Morty Fan
      Hub con el fin de poder facilitar, agilizar y cumplir los compromisos
      establecidos entre el Sitio Web y el Usuario o el mantenimiento de la
      relación que se establezca en los formularios que este último rellene o
      para atender una solicitud o consulta.
    </p>
    <p>
      Igualmente, los datos podrán ser utilizados con una finalidad comercial de
      personalización, operativa y estadística y actividades propias del objeto
      social de Rick and Morty Fan Hub, así como para la extracción,
      almacenamiento de datos y estudios de marketing para adecuar el Contenido
      ofertado al Usuario y mejorar la calidad, funcionamiento y navegación por
      el Sitio Web.
    </p>
    <p>
      En el momento en que se obtengan los datos personales, se indicará al
      Usuario el fin o fines específicos del tratamiento a que se destinarán los
      datos personales; es decir, la finalidad del tratamiento.
    </p>

    <h2>Períodos de retención de los datos personales</h2>
    <p>
      Los datos personales solo serán retenidos durante el tiempo mínimo
      necesario para los fines de su tratamiento y, en cualquier caso,
      únicamente se conservarán durante el siguiente plazo: 10 años, o hasta que
      el Usuario solicite su supresión.
    </p>
    <p>
      Al hacer la supresión de los datos personales, se procederá de la
      siguiente manera:
    </p>
    <ul>
      <li>
        Los datos personales serán suprimidos de manera que no se puedan
        recuperar.
      </li>
    </ul>

    <h2>Destinatarios de los datos personales</h2>
    <p>
      Los datos personales del Usuario no serán compartidos con terceros. Sin
      embargo, en algunos casos, pueden llevarse a cabo colaboraciones con otros
      profesionales. En tales casos, se requerirá consentimiento al Usuario
      informando sobre la identidad del colaborador y la finalidad de la
      colaboración. Siempre se llevará a cabo con los más estrictos estándares
      de seguridad.
    </p>

    <h2>Secretos y confidencialidad de los datos personales</h2>
    <p>
      Rick and Morty Fan Hub se compromete a adoptar las medidas técnicas y
      organizativas necesarias, según el nivel de seguridad adecuado al riesgo
      de los datos recogidos, de forma que se garantice la seguridad de los
      datos de carácter personal y se evite la destrucción, pérdida o alteración
      accidental o ilícita de datos personales transmitidos, conservados o
      tratados de otra forma, o la comunicación o acceso no autorizados a dichos
      datos.
    </p>

    <h2>Enlaces de interés a otros sitios web</h2>
    <p>
      El Sitio Web puede contener enlaces a otros sitios web que pueden resultar
      de interés para el Usuario. Una vez que el Usuario haga clic en estos
      enlaces y abandone nuestra página, ya no tenemos control sobre el sitio al
      que es redirigido y no somos responsables de los términos o privacidad ni
      de la protección de sus datos en esos otros sitios terceros. Dichos sitios
      están sujetos a sus propias políticas de privacidad, por lo que es
      recomendable que los consulte para confirmar que usted está de acuerdo con
      estas.
    </p>

    <h2>
      Derechos de acceso, rectificación, limitación y supresión de los datos
    </h2>
    <p>
      El Usuario tiene derecho en cualquier momento a acceder, rectificar,
      limitar o suprimir los datos personales que le conciernen, así como a
      obtener confirmación de si se están tratando los mismos por parte de Rick
      and Morty Fan Hub o no.
    </p>
    <p>El Usuario tiene derecho a:</p>
    <ul>
      <li>Solicitar su supresión.</li>
      <li>Solicitar la limitación de su tratamiento.</li>
      <li>Oponerse al tratamiento.</li>
      <li>Solicitar la portabilidad de los datos.</li>
    </ul>
    <p>
      Para ejercitar sus derechos de acceso, rectificación, cancelación y
      oposición, el Usuario debe enviar un correo electrónico a
      rubenec99&#64;gmail.com junto con la prueba válida en derecho como una
      fotocopia del D.N.I. o equivalente.
    </p>

    <h2>Consentimiento para envío de comunicaciones electrónicas</h2>
    <p>
      Asimismo, y de acuerdo con lo establecido en la Ley 34/2002, de 11 de
      julio, de Servicios de la Sociedad de la Información y de Comercio
      Electrónico, completando el formulario de recogida de datos y marcando la
      correspondiente casilla "Acepto recibir comunicaciones electrónicas", el
      Usuario otorga el consentimiento expreso para enviarle a su dirección de
      correo electrónico, teléfono, fax u otro medio electrónico información
      acerca de Rick and Morty Fan Hub.
    </p>

    <h2>Modificación de la política de privacidad</h2>
    <p>
      Rick and Morty Fan Hub se reserva el derecho a modificar su Política de
      Privacidad, de acuerdo a su propio criterio, o motivado por un cambio
      legislativo, jurisprudencial o doctrinal de la Agencia Española de
      Protección de Datos. Los cambios o actualizaciones de esta Política de
      Privacidad serán notificados de manera explícita al Usuario.
    </p>

    <h2>Responsable del tratamiento de los datos personales</h2>
    <p>
      El responsable del tratamiento de los datos personales es: Rubén Escudero
      Calamonte, con NIF: 09207794C. Sus datos de contacto son los siguientes:
    </p>
    <ul>
      <li>Dirección: Calle Reyes Huertas</li>
      <li>Teléfono de contacto: 658234218</li>
      <li>
        Email de contacto:
        <a href="mailto:rubenec99@gmail.com">rubenec99&#64;gmail.com</a>
      </li>
    </ul>

    <h2>Información adicional sobre protección de datos</h2>
    <p>
      Puede obtener más información sobre protección de datos consultando
      nuestra Política de Privacidad en el siguiente enlace: [Enlace a la
      Política de Privacidad].
    </p>
  </div>
</div>
