<div class="characters-list-container container mt-4">
  <!-- Título de la lista de personajes -->
  <h2 class="mb-4">Lista de personajes</h2>

  <!-- Contenedor de búsqueda -->
  <div class="search-container mb-4">
    <!-- Input para ingresar el término de búsqueda -->
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar personaje..."
      (keydown)="onSearchKeyDown($event)"
    />

    <!-- Botón para realizar la búsqueda -->
    <button (click)="searchCharacters()">Buscar</button>
  </div>

  <div ngbDropdown class="d-inline-block" autoClose="outside">
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Filtros
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <!-- Selector de género -->
      <div class="dropdown-item">
        <label>Género:</label>
        <select [(ngModel)]="selectedGender" (change)="onFilterChange()">
          <option value="">Todos los géneros</option>
          <option *ngFor="let gender of allGenders" [value]="gender">
            {{ gender }}
          </option>
        </select>
      </div>

      <!-- Selector de estado (status) -->
      <div class="dropdown-item">
        <label>Estado:</label>
        <select [(ngModel)]="selectedStatus" (change)="onFilterChange()">
          <option value="">Todos los estados</option>
          <option *ngFor="let status of allStatuses" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>

      <!-- Selector de especie -->
      <div class="dropdown-item">
        <label>Especie:</label>
        <select [(ngModel)]="selectedSpecies" (change)="onFilterChange()">
          <option value="">Todas las especies</option>
          <option *ngFor="let species of allSpecies" [value]="species">
            {{ species }}
          </option>
        </select>
      </div>

      <!-- Botón para restablecer filtros -->
      <div class="dropdown-item">
        <button (click)="resetFilters()">Restablecer filtros</button>
      </div>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div
    *ngIf="errorMessage; else showCharacters"
    class="alert alert-danger mb-4"
  >
    {{ errorMessage }}
  </div>
  <ng-template #showCharacters>
    <div class="d-flex flex-wrap justify-content-center">
      <div
        *ngFor="let character of characters"
        class="card m-2"
        style="width: 15rem"
      >
        <!-- Imagen del personaje -->
        <img
          [src]="character.image"
          alt="{{ character.name }} image"
          class="card-img-top"
        />
        <div class="card-body">
          <!-- Nombre del personaje -->
          <h5 class="card-title text-center">{{ character.name }}</h5>

          <!-- Estado del personaje -->
          <h5 class="card-title text-center">
            <i
              *ngIf="character.status === 'Dead'"
              class="fa-solid fa-face-dizzy"
            ></i>
            <i
              *ngIf="character.status === 'Alive'"
              class="fa-solid fa-face-smile"
            ></i>
            <i
              *ngIf="
                character.status !== 'Alive' && character.gender !== 'Dead'
              "
              class="fa-solid fa-question"
            ></i>
            {{ character.status }}
          </h5>

          <!-- Género del personaje -->
          <h5 class="card-title text-center">
            <i *ngIf="character.gender === 'Male'" class="fa-solid fa-mars"></i>
            <i
              *ngIf="character.gender === 'Female'"
              class="fa-solid fa-venus"
            ></i>
            <i
              *ngIf="character.gender === 'Genderless'"
              class="fa-solid fa-genderless"
            ></i>
            <i
              *ngIf="
                character.gender !== 'Male' &&
                character.gender !== 'Female' &&
                character.gender !== 'Genderless'
              "
              class="fa-solid fa-question"
            ></i>
            {{ character.gender }}
          </h5>

          <!-- Localización del personaje -->
          <h5 class="card-title text-center">
            <i class="fa-solid fa-location-dot"></i>
            {{ character.location.name }}
          </h5>
          <!-- Botón para abrir el modal de detalles -->
          <button
            class="btn btn-primary btn-sm btn-block"
            (click)="openModal(character, characterModal)"
          >
            Ver detalles
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Plantilla para el modal de detalles del personaje -->
  <ng-template #characterModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Título del modal (nombre del personaje) -->
          <h5 class="modal-title" id="characterModalLabel">
            {{ selectedCharacter?.name }}
          </h5>
          <!-- Botón para cerrar el modal -->
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalService.dismissAll()"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Imagen del personaje -->
          <img
            [src]="selectedCharacter?.image"
            alt="{{ selectedCharacter?.name }} image"
            class="img-fluid mb-3"
          />
          <!-- Detalles del personaje -->
          <p><strong>Estado:</strong> {{ selectedCharacter?.status }}</p>
          <p><strong>Especie:</strong> {{ selectedCharacter?.species }}</p>
          <p><strong>Género:</strong> {{ selectedCharacter?.gender }}</p>
          <p>
            <strong>Origen:</strong>
            {{ selectedCharacter?.origin?.name }}
          </p>
          <p>
            <strong>Localización:</strong>
            {{ selectedCharacter?.location?.name }}
          </p>

          <!-- Plantillas para mostrar los episodios -->
          <ng-template #singleEpisode>
            <p><strong>Episodio en el que aparece:</strong></p>
          </ng-template>

          <ng-template #multipleEpisodes>
            <p><strong>Episodios en los que aparece:</strong></p>
          </ng-template>

          <!-- Lista de episodios -->
          <p
            *ngIf="
              episodes.length === 1;
              then singleEpisode;
              else multipleEpisodes
            "
          ></p>
          <ul class="scrollable-list">
            <li *ngFor="let episode of episodes">{{ episode }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Controles de paginación -->
  <div class="d-flex justify-content-between mt-4">
    <!-- Botón para página anterior -->
    <button
      class="btn btn-primary"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <!-- Indicador de página actual -->
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <!-- Botón para página siguiente -->
    <button
      class="btn btn-primary"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Siguiente
    </button>
  </div>
</div>
