<div class="characters-list-container container mt-4">
  <!-- Título de la lista de personajes -->
  <h2 class="mb-4">Lista de personajes</h2>

  <!-- Contenedor de búsqueda -->
  <div class="search-container mb-4">
    <!-- Input para ingresar el término de búsqueda -->
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar personaje..."
      (keydown)="onSearchKeyDown($event)"
    />

    <!-- Botón para realizar la búsqueda -->
    <button (click)="searchCharacters()">Buscar</button>
  </div>

  <div ngbDropdown class="d-inline-block" autoClose="outside">
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Filtros
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <!-- Selector de género -->
      <div class="dropdown-item">
        <label>Género:</label>
        <select [(ngModel)]="selectedGender" (change)="onFilterChange()">
          <option value="">Todos los géneros</option>
          <option *ngFor="let gender of allGenders" [value]="gender">
            {{ translationService.translate(gender, "gender") }}
          </option>
        </select>
      </div>

      <!-- Selector de estado (status) -->
      <div class="dropdown-item">
        <label>Estado:</label>
        <select [(ngModel)]="selectedStatus" (change)="onFilterChange()">
          <option value="">Todos los estados</option>
          <option *ngFor="let status of allStatuses" [value]="status">
            {{ translationService.translate(status, "status") }}
          </option>
        </select>
      </div>

      <!-- Selector de especie -->
      <div class="dropdown-item">
        <label>Especie:</label>
        <select [(ngModel)]="selectedSpecies" (change)="onFilterChange()">
          <option value="">Todas las especies</option>
          <option *ngFor="let species of allSpecies" [value]="species">
            {{ translationService.translate(species, "species") }}
          </option>
        </select>
      </div>

      <!-- Botón para restablecer filtros -->
      <div class="dropdown-item">
        <button (click)="resetFilters()">Restablecer filtros</button>
      </div>
    </div>
  </div>

  <div class="characters-container">
    <div *ngFor="let character of characters" class="character-card">
      <!-- Imagen del personaje -->
      <img
        [src]="character.image"
        alt="{{ character.name }}"
        class="character-image"
      />

      <div class="character-details">
        <!-- Nombre del personaje -->
        <h5 class="character-name">{{ character.name }}</h5>

        <!-- Estado del personaje -->
        <div class="character-status">
          <span class="icon">
            <i
              *ngIf="character.status === 'Alive'"
              class="fa-solid fa-circle alive"
            ></i>
            <i
              *ngIf="character.status === 'Dead'"
              class="fa-solid fa-circle dead"
            ></i>
            <i
              *ngIf="
                character.status !== 'Alive' && character.status !== 'Dead'
              "
              class="fa-solid fa-circle unknown"
            ></i>
          </span>
          {{ translationService.translate(character.status, "status") }}
        </div>

        <!-- Género del personaje -->
        <div class="character-gender">
          <span class="icon">
            <i *ngIf="character.gender === 'Male'" class="fa-solid fa-mars"></i>
            <i
              *ngIf="character.gender === 'Female'"
              class="fa-solid fa-venus"
            ></i>
            <i
              *ngIf="character.gender === 'Genderless'"
              class="fa-solid fa-genderless"
            ></i>
            <i
              *ngIf="
                character.gender !== 'Male' &&
                character.gender !== 'Female' &&
                character.gender !== 'Genderless'
              "
              class="fa-solid fa-question"
            ></i>
          </span>
          {{ translationService.translate(character.gender, "gender") }}
        </div>

        <!-- Localización del personaje -->
        <div class="character-location">
          <span class="icon">
            <i class="fa-solid fa-location-pin"></i>
          </span>
          {{
            translationService.translate(
              character.location.name,
              "locationName"
            )
          }}
        </div>

        <!-- Botón para abrir el modal de detalles del personaje -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#characterModal"
          (click)="openModal(character)"
        >
          Ver detalles
        </button>
      </div>
    </div>
  </div>

  <!-- Ventana modal para detalles del personaje -->
  <div
    class="modal fade"
    id="characterModal"
    tabindex="-1"
    aria-labelledby="characterModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="characterModalLabel">
            {{ selectedCharacter?.name }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Contenido del modal con detalles del personaje -->
          <img
            [src]="selectedCharacter?.image"
            alt="{{ selectedCharacter?.name }} image"
            class="img-fluid mb-3"
          />
          <!-- Detalles del personaje -->
          <p>
            <strong>Estado:</strong>
            {{ getTranslation(selectedCharacter?.status, "status") }}
          </p>
          <p>
            <strong>Especie:</strong>
            {{ getTranslation(selectedCharacter?.species, "species") }}
          </p>
          <p>
            <strong>Género:</strong>
            {{ getTranslation(selectedCharacter?.gender, "gender") }}
          </p>

          <p>
            <strong>Origen:</strong>
            {{
              getTranslation(selectedCharacter?.origin?.name, "locationName")
            }}
          </p>

          <p>
            <strong>Localización:</strong>
            {{
              getTranslation(selectedCharacter?.location?.name, "locationName")
            }}
          </p>

          <p *ngIf="episodes.length > 0; else noEpisodes">
            <ng-container
              *ngIf="
                episodes.length === 1;
                then singleEpisode;
                else multipleEpisodes
              "
            ></ng-container>
          </p>

          <ng-template #singleEpisode>
            <!-- Contenido para un único episodio -->
            <p><strong>Episodio en el que aparece:</strong></p>
            <ul class="scrollable-list">
              <li>{{ episodes[0] }}</li>
            </ul>
          </ng-template>

          <ng-template #multipleEpisodes>
            <!-- Contenido para múltiples episodios -->
            <p><strong>Episodios en los que aparece:</strong></p>
            <ul class="scrollable-list">
              <li *ngFor="let episode of episodes">{{ episode }}</li>
            </ul>
          </ng-template>

          <ng-template #noEpisodes>
            <!-- Contenido para mostrar cuando no hay episodios -->
            <p><strong>No aparece en ningún episodio:</strong></p>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Controles de paginación -->
  <div class="d-flex justify-content-between mt-4">
    <!-- Botón para página anterior -->
    <button
      class="btn btn-primary"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <!-- Indicador de página actual -->
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <!-- Botón para página siguiente -->
    <button
      class="btn btn-primary"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Siguiente
    </button>
  </div>
</div>
