/* -------------------- TRIVIA -------------------- */
h3.text-center {
  color: #4a4a4a;
  font-size: 2em;
  margin-bottom: 25px;
  font-weight: 600;
}

.no-correct-error {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 25px;
  font-weight: 600;
  color: #d53958;
  text-shadow: rgba(255, 71, 102, 0.5);
  font-weight: 600; /* Peso medio para destacar el error */
  transform: translateY(
    0.5rem
  ); /* Pequeño desplazamiento inicial hacia abajo */
  transition: opacity 0.4s ease, transform 0.4s ease; /* Transición suave para el efecto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.progress {
  height: 25px;
  border-radius: 1rem;
  background-color: #e4e4e4;
  overflow: hidden;
}

.progress-bar {
  background-color: #00bcd4;
  transition: width 0.5s;
  border-radius: 1rem;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #f9f9f9a9 100%
  ); /* Fondo con gradiente sutil */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07), 0 2px 10px rgba(0, 0, 0, 0.05); /* Sombra más suave */
  overflow: hidden; /* Esto asegura que nada sobresalga de las esquinas redondeadas */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12), 0 5px 15px rgba(0, 0, 0, 0.08); /* Sombra más pronunciada en hover */
}

.card::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 1px solid rgba(0, 0, 0, 0.08); /* Reborde sutil alrededor de la tarjeta */
  border-radius: 10px;
  z-index: -1; /* Colocar detrás del contenido principal */
}

.card-body {
  padding: 25px;
}

.card-text {
  font-weight: bold;
  text-align: center;
}

.form-check {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
}

.form-check-input {
  position: absolute;
  left: 0;
  opacity: 0;
}

.form-check-input:checked + .form-check-label::before {
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.form-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form-check-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.form-check-input:checked + .form-check-label::after {
  opacity: 1;
}

.col-lg-4.col-md-6.mb-3 {
  margin-bottom: 2rem; /* Aumenta la separación inferior de la columna */
  margin-left: 1rem; /* Añade un margen izquierdo */
  margin-right: 1rem; /* Añade un margen derecho */
}

.card {
  position: relative; /* Esto asegura que el z-index funcione */
  z-index: 1; /* Esto coloca la tarjeta por encima de elementos vecinos */
}

.correct-answer .card {
  box-shadow: 0px 4px 8px rgba(168, 255, 68, 1) !important; /* A8FF44 - Uso de !important para garantizar que este estilo tenga prioridad */
}

.wrong-answer .card {
  box-shadow: 0px 4px 8px rgba(255, 69, 101, 1) !important; /* FF4565 - Uso de !important para garantizar que este estilo tenga prioridad */
}

/* -------------------- NOTIFICACIONES TRIVIA -------------------- */

.feedback-text {
  font-size: 1.5em; /* Tamaño de letra más grande para enfatizar el mensaje */
  color: #ffffff; /* Un color oscuro pero no completamente negro para una sensación suave */
  font-weight: 500; /* Hacer el texto semi-negrita */
  margin-top: 1rem; /* Espacio respecto al contenido anterior */
  opacity: 0; /* Comenzar con el mensaje oculto */
  transform: translateY(
    0.5rem
  ); /* Pequeño desplazamiento inicial hacia abajo */
  transition: opacity 0.4s ease, transform 0.4s ease; /* Transición suave para el efecto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.show-feedback {
  opacity: 1; /* Mostrar el mensaje con plena opacidad */
  transform: translateY(0); /* Regresar el mensaje a su posición original */
}

/* -------------------- BOTÓN TRIVIA -------------------- */

.btn-trivia {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #00bcd4;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn-trivia:hover {
  opacity: 0.95;
}

.btn-trivia .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

/* -------------------- TÍTULO -------------------- */

.btn-characters-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2.5em;
  color: #e1e1e1;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  cursor: auto;
  margin-top: 60px;
}

.btn-characters-title:focus,
.btn-characters-title:hover {
  color: #00bcd4;
}

.btn-characters-title:focus:after,
.btn-characters-title:hover:after {
  width: 100%;
  left: 0%;
}

.btn-characters-title:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* -------------------- ACIERTA EL PERSONAJE -------------------- */

/* Estilos Base */
.game-container {
  margin-top: 60px;
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  background-image: url(../../../assets/img/minigames-img/question-marks-background.png);
  border-radius: 10px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  overflow: hidden;
  max-width: 500px;
  margin: auto;
  padding: 25px;
  margin-bottom: 500px;
  max-height: 750px;
  height: 750px;
}

.game-header h2 {
  text-align: center;
  font-weight: 800; /* Disminuir un poco el peso puede mejorar la legibilidad */
  font-size: 32px; /* Un ligero incremento para darle más presencia */
  color: #00bcd4;
  letter-spacing: -0.5px; /* Controla el espacio entre letras para un look más ajustado */
  line-height: 1.2; /* Asegura un espacio adecuado entre líneas si el título tiene más de una línea */
  margin-bottom: 20px; /* Proporciona un poco de espacio debajo para separarlo de otros contenidos */
  text-shadow: 2px 2px 4px rgba(0, 188, 212, 0.2); /* Añade una sombra sutil para darle profundidad */
  text-transform: uppercase;
}

.game-content {
  padding: 1rem;
}

.character-image-container {
  text-align: center;
}

.character-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.character-choices {
  text-align: center;
}

.character-question {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1rem;
}

.choices-list {
  list-style: none;
  padding: 0;
}

.choice-item {
  margin-bottom: 0.5rem;
}

.choice-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

.choice-btn:hover {
  background-color: #00bcd4;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  color: #fff;
  transform: translateY(-7px);
}

.choice-btn:active {
  transform: translateY(-1px);
}

.feedback-message {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}

/* Estilos mejorados para los mensajes de error sin fondo */
.incorrect {
  color: #ff4565;
  text-shadow: rgba(255, 71, 102, 0.5);
  font-weight: 600; /* Peso medio para destacar el error */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave para cambios en la opacidad y posición */
}

/* Animación opcional para que el mensaje aparezca suavemente */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.incorrect,
.correct {
  animation: fadeIn 0.3s ease-out;
}

.correct {
  color: #8edd3a;
  text-shadow: rgba(143, 222, 59, 0.5);
  font-weight: 600; /* Peso medio para destacar el error */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave para cambios en la opacidad y posición */
}

.shadow-correct {
  box-shadow: rgba(143, 222, 59, 0.4) 0px 5px 15px;
}

.shadow-incorrect {
  box-shadow: rgba(255, 71, 102, 0.4) 0px 5px 15px;
}

@keyframes brillo {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.all-correct-animation {
  animation: brillo 1s infinite;
  animation-delay: 0.5s; /* Puede ajustar el retraso según sea necesario */
}
