/* -------------------- CONTAINER -------------------- */

.container-form {
  display: flex;
  justify-content: center;
}

.container {
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 20px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

/* -------------------- HEADER -------------------- */

.heading {
  text-align: center;
  font-weight: 800; /* Disminuir un poco el peso puede mejorar la legibilidad */
  font-size: 32px; /* Un ligero incremento para darle más presencia */
  color: #00bcd4;
  letter-spacing: -0.5px; /* Controla el espacio entre letras para un look más ajustado */
  line-height: 1.2; /* Asegura un espacio adecuado entre líneas si el título tiene más de una línea */
  margin-bottom: 20px; /* Proporciona un poco de espacio debajo para separarlo de otros contenidos */
  text-shadow: 2px 2px 4px rgba(0, 188, 212, 0.2); /* Añade una sombra sutil para darle profundidad */
}

/* -------------------- FORMULARIO -------------------- */

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #00bcd4;
}

/* -------------------- LABELS -------------------- */

.form label {
  display: block; /* asegura que la etiqueta esté en su propia línea */
  margin-top: 20px; /* proporciona espacio antes de la etiqueta */
  margin-bottom: 5px; /* espacio entre la etiqueta y el input */
  color: #00bcd4; /* usando el mismo color que otros elementos destacados de tu diseño */
  font-weight: 600; /* texto en negrita para darle más énfasis */
}

.form .input:first-of-type + label {
  margin-top: 0; /* elimina el margen superior para la primera etiqueta después de un input */
}

/* -------------------- BOTÓN MODAL -------------------- */

.box {
  width: 155px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(168, 255, 68, 0.55);
}

.box:hover:before {
  border-color: rgb(31, 31, 46);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.modal-button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

/* -------------------- BOTÓN LOGIN -------------------- */

.form .login-button {
  display: block;
  width: 15vw;
  font-weight: bold;
  background: linear-gradient(45deg, #00bbd4c0 0%, #00bcd4 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

/* -------------------- BOTÓN PERSONALIZADO -------------------- */

.custom-button {
  display: block; /* para que se alinee con otros elementos si es necesario */
  width: 10vw; /* puedes ajustar esto según tus necesidades */
  font-weight: bold;
  background: linear-gradient(45deg, #1f1f2e 0%, #181820 100%);
  color: white; /* Color del texto, lo dejé en blanco por legibilidad, pero ajusta según tus necesidades */
  padding-block: 15px;
  margin: 20px auto; /* ajusta según tus necesidades */
  border-radius: 20px;
  box-shadow: rgba(31, 31, 46, 0.8784313725) 0px 20px 10px -15px; /* he ajustado el color del box-shadow a #1F1F2E con una opacidad del 87.8% */
  border: none;
  transition: all 0.2s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(31, 31, 46, 0.8784313725) 0px 23px 10px -20px;
}

.custom-button:active {
  transform: scale(0.95);
  box-shadow: rgba(31, 31, 46, 0.8784313725) 0px 15px 10px -10px;
}
