/* -------------------- CONTAINER -------------------- */
.container-form {
  display: flex;
  justify-content: center;
  max-width: 100%; /* Asegura que no se salga de los límites en pantallas pequeñas */
  margin-bottom: 360px;
}

.container {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 20px;
  padding: 25px 55px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
  max-width: 600px; /* Controla el ancho máximo */
}

/* -------------------- HEADER -------------------- */
.heading {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  color: #00bcd4;
  letter-spacing: -0.5px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 188, 212, 0.2);
}

/* -------------------- FORMULARIO -------------------- */
.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #00bcd4;
}

.modal-footer {
  justify-content: center;
}

/* -------------------- LABELS -------------------- */
.form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #00bcd4;
  font-weight: 600;
}

.toggle-visibility-container {
  display: flex;
}

#password-toggle,
#confirm-password-toggle {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  color: #a5a5b0;
}

#password {
  padding-right: 40px;
}

/* -------------------- BOTÓN LOGIN -------------------- */
.form .login-button {
  display: block;
  width: 100%; /* Hace que el botón se ajuste al contenedor */
  font-weight: bold;
  background: linear-gradient(45deg, #00bbd4c0 0%, #00bcd4 100%);
  color: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

/* -------------------- BOTÓN PARA CREAR CUENTA NUEVA -------------------- */
.btn-link {
  color: #00bcd4;
  text-decoration: underline;
  background: transparent;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.btn-link:hover,
.btn-link:focus {
  color: #009fa8;
  text-decoration: none;
  outline: none;
}

/* -------------------- MENSAJE DE ACCIÓN -------------------- */

.acc-msg {
  color: #1f1f2e;
  text-align: center; /* Alinear mensaje al centro */
}

/* -------------------- MEDIA QUERIES -------------------- */

@media (max-width: 768px) {
  .container {
    padding: 15px; /* Reduce el padding en pantallas más pequeñas */
  }

  .heading {
    font-size: 24px; /* Reduce el tamaño de la fuente para encabezados en pantallas más pequeñas */
  }

  .form .login-button {
    padding: 10px; /* Reduce el padding del botón en pantallas más pequeñas */
  }
}
