<!-- Contenedor Principal -->
<div class="container-form form" id="loginSection">
  <div class="form container">
    <div class="modal-header">
      <h5 class="modal-title heading" id="loginModalLabel">Iniciar sesión</h5>
    </div>
    <div class="modal-body">
      <form (submit)="onLogin($event)">
        <!-- Usuario -->
        <div class="mb-3">
          <label for="email" class="form-label">Nombre de usuario</label>
          <input
            type="text"
            class="form-control input"
            id="email"
            placeholder="Ingrese su nombre de usuario"
            [(ngModel)]="loginData.username"
            name="username"
          />
        </div>

        <!-- Contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control input"
            id="password"
            placeholder="Ingrese su contraseña"
            [(ngModel)]="loginData.password"
            name="password"
          />
        </div>

        <!-- Botón para iniciar sesión -->
        <div class="mb-3">
          <button type="submit" class="btn btn-primary login-button">
            Iniciar sesión
          </button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <!-- Botón para crear cuenta nueva -->
      <p class="acc-msg">
        <strong>¿No tienes cuenta?</strong>
        Crea una
        <a class="btn-link" routerLink="/register"> aquí </a>
      </p>
    </div>
  </div>
</div>
