<div class="outer-container">
  <!-- Encabezado -->
  <header class="header">
    <div class="container text-center">
      <img src="../../../assets/img/Logo.png" alt="logo" />
      <!-- Línea para mostrar el nombre de usuario -->
      <h3>
        Hola,
        <button
          [disabled]="!isUserLoggedIn"
          class="button"
          routerLink="/profile"
          data-text="Awesome"
        >
          <span class="actual-text">&nbsp;{{ getUsername() }}&nbsp;</span>
          <span aria-hidden="true" class="hover-text"
            >&nbsp;{{ getUsername() }}&nbsp;</span
          >
        </button>
      </h3>

      <p>Descubre los personajes y planetas del multiverso de Rick & Morty.</p>
      <p>
        Valora, haz seguimiento de cada episodio y comparte tus opiniones con la
        comunidad.
      </p>
      <button class="btn-all learn-more" routerLink="/episodes">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Explorar</span>
      </button>
    </div>
  </header>

  <!-- Sección de Personajes -->
  <div class="container my-5">
    <div class="text-center mb-4">
      <button class="btn-characters-title">
        Conoce a los habitantes del Multiverso
      </button>
    </div>
    <div class="characters-row">
      <div *ngFor="let character of characters" class="character-card">
        <div class="image-container">
          <img
            src="{{ character.image }}"
            alt="{{ character.name }}"
            class="character-image"
          />
          <div class="overlay">
            <p class="character-name">{{ character.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button class="btn-all learn-more" routerLink="/characters">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Ver todos</span>
      </button>
    </div>
  </div>

  <!-- Curiosidades -->
  <div class="container my-5 trivia-container">
    <div class="text-center mb-4">
      <button class="btn-curiosity-title">¿SABÍAS QUÉ...</button>
    </div>
    <div class="trivia-item">
      <i class="fa fa-lightbulb-o trivia-icon"></i>
      <p>
        ... el 'Consejo de Ricks' está basado en teorías de la física cuántica?
      </p>
    </div>

    <div class="trivia-item">
      <i class="fa fa-lightbulb-o trivia-icon"></i>
      <p>
        ... la serie comenzó como una parodia animada de "Back to the Future"
        titulada "The Real Animated Adventures of Doc and Mharti"?
      </p>
    </div>
    <div class="trivia-item">
      <i class="fa fa-lightbulb-o trivia-icon"></i>
      <p>
        ..., según Justin Roiland, uno de los creadores, todos los universos
        mostrados en la serie son canon, lo que significa que todo lo que sucede
        en la serie es "oficial"?
      </p>
    </div>
    <div class="trivia-item">
      <i class="fa fa-lightbulb-o trivia-icon"></i>
      <p>
        ... la droga "Kalaxian Crystals", que Rick se ha visto consumiendo en
        algunos episodios, es una referencia a una serie de historias de ciencia
        ficción que nunca fue producida?
      </p>
    </div>
    <div class="trivia-item">
      <i class="fa fa-lightbulb-o trivia-icon"></i>
      <p>
        ... en la serie, hay una serie de televisión llamada "Ball Fondlers",
        que es una parodia de las películas de acción de los 80s y 90s?
      </p>
    </div>
    <div class="trivia-item">
      <i class="fa fa-lightbulb-o trivia-icon"></i>
      <p>
        ... "Schwifty", una palabra que se popularizó gracias al episodio "Get
        Schwifty", significa básicamente relajarse y pasarlo bien?
      </p>
    </div>
  </div>
</div>
