<div class="outer-container">
  <!-- Sección de Personajes -->
  <div class="container my-5">
    <h2 class="text-dark">Conoce a los Habitantes del Multiverso</h2>
    <div class="row">
      <!-- Ejemplo para un personaje -->
      <div class="col-md-3 my-2">
        <div class="card bg-dark text-dark">
          <div class="card-body">
            <h5 class="card-title">Nombre del Personaje</h5>
            <p class="card-text">Cita o descripción breve.</p>
          </div>
        </div>
      </div>
      <!-- Puedes repetir la estructura de columna para otros personajes -->
    </div>
    <a href="link_a_pagina_personajes" class="btn btn-primary mt-3"
      >Ver Todos los Personajes</a
    >
  </div>

  <!-- Sección de Episodios -->
  <div class="container my-5">
    <h2 class="text-dark">Aventuras sin límites en cada episodio</h2>
    <div class="row">
      <!-- Ejemplo para un episodio -->
      <div class="col-md-4 my-2">
        <div class="card bg-dark text-dark">
          <div class="card-body">
            <h5 class="card-title">Título del Episodio</h5>
          </div>
        </div>
      </div>
      <!-- Puedes repetir la estructura de columna para otros episodios -->
    </div>
    <a href="link_a_pagina_episodios" class="btn btn-primary mt-3"
      >Explorar Episodios</a
    >
  </div>

  <!-- Trivia o Curiosidades -->
  <div class="container my-5">
    <h2 class="text-dark">Trivia y Curiosidades</h2>
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Ejemplo para una tarjeta de trivia -->
        <div class="carousel-item active">
          <div class="card bg-dark text-dark">
            <div class="card-body">
              <p class="card-text">
                ¿Sabías que el 'Consejo de Ricks' está basado en teorías de la
                física cuántica?
              </p>
            </div>
          </div>
        </div>
        <!-- Puedes repetir la estructura de "carousel-item" para más datos de trivia -->
      </div>
    </div>
  </div>

  <!-- Sección de Noticias o Actualizaciones -->
  <div class="container my-5">
    <h2 class="text-dark">Noticias y Actualizaciones</h2>
    <!-- Ejemplo para una noticia -->
    <div class="card bg-dark text-dark my-2">
      <div class="card-body">
        <h5 class="card-title">Título de la Noticia</h5>
        <p class="card-text">Descripción breve o extracto de la noticia.</p>
      </div>
    </div>
    <!-- Puedes repetir la estructura de "card" para otras noticias -->
  </div>
</div>
