<div class="characters-list-container">
  <h2>Lista de personajes</h2>
  <ul *ngIf="characters.length; else noCharacters">
    <li *ngFor="let character of characters">
      <div class="character-card">
        <img [src]="character.image" alt="{{ character.name }} image" />
        <div class="character-info">
          <h3>{{ character.name }}</h3>
          <p><strong>Especie:</strong> {{ character.species }}</p>
          <p><strong>Género:</strong> {{ character.gender }}</p>
          <p><strong>Localización:</strong> {{ character.location.name }}</p>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #noCharacters>
    <p>No hay personajes disponibles en este momento.</p>
  </ng-template>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Siguiente
    </button>
  </div>
</div>
