<div class="big-container">
  <div class="container">
    <h1>Acerca de Rick and Morty Fan hub</h1>
    <p>
      Hola, bienvenid&#64;s a <strong>Rick and Morty Fan Hub</strong>. Soy Rubén
      Escudero Calamonte, y este proyecto es el fruto de todo lo aprendido
      durante mi formación en el Ciclo Superior de Grado Superior de Desarrollo
      de Aplicaciones Web. He intentado mostrar mi afición por la tecnología y
      el entretenimiento en una herramienta que espero sea del agrado y utilidad
      para otros aficionados de <em>Rick and Morty</em>.
    </p>
    <h3>Mi Misión</h3>
    <p>
      La idea detrás de Rick and Morty Fan Hub es simple: enriquecer la
      experiencia de los seguidores de la serie. Con mucha ilusión, he creado
      una plataforma interactiva donde puedes explorar el universo de
      <em>Rick and Morty</em>, descubriendo detalles y curiosidades sobre los
      personajes, episodios y ubicaciones.
    </p>

    <h3>Características Principales</h3>
    <ul>
      <li>
        <strong>Consulta de Personajes:</strong> Acceso a una lista completa de
        personajes, con detalles como nombre, especie y género.
      </li>
      <li>
        <strong>Detalles de Personajes:</strong> Información detallada de cada
        personaje, sus apariciones y ubicación actual.
      </li>
      <li>
        <strong>Agregar a Favoritos:</strong> Puedes marcar tus personajes
        preferidos como favoritos.
      </li>
      <li>
        <strong>Lista de Episodios:</strong> Explora una lista completa de
        episodios, con detalles importantes para cada uno.
      </li>
      <li>
        <strong>Marcar Episodios como Vistos:</strong> Mantén un registro de los
        episodios que ya has visto.
      </li>
      <li>
        <strong>Consulta de Ubicaciones:</strong> Explora y conoce más sobre las
        diversas ubicaciones de la serie.
      </li>
      <li>
        <strong>Valoraciones y Comentarios:</strong> Participa activamente con
        tus opiniones y conecta con otros fans.
      </li>
      <li>
        <strong>Minijuegos:</strong> Diviértete y prueba tus conocimientos con
        minijuegos temáticos.
      </li>
    </ul>

    <h3>Mi Compromiso</h3>
    <p>
      En Rick and Morty Fan Hub, me he esforzado por ofrecer una experiencia que
      sea a la vez informativa y entretenida. Valorando cada comentario y
      sugerencia, mi compromiso es seguir mejorando y enriqueciendo esta
      plataforma para los seguidores de la serie.
    </p>

    <p>
      Te invito a sumergirte en el mundo de Rick and Morty, explorar, descubrir
      y, sobre todo, disfrutar. ¡Únete a nuestra comunidad y vive una
      experiencia única en el universo de Rick and Morty!
    </p>
  </div>
</div>
