<div class="big-container">
  <div class="container">
    <h1>Acerca de Nosotros</h1>
    <p>
      Bienvenidos a <strong>Rick and Morty Fan Hub</strong>, una wiki
      interactiva dedicada a la aclamada serie de televisión
      <em>Rick and Morty</em>. Este proyecto ha sido creado por Rubén Escudero
      Calamonte, un servidor, como parte de mi proyecto final en el Ciclo
      Superior de Grado Superior de Desarrollo de Aplicaciones Web. Representa
      la culminación de un esfuerzo significativo, canalizando mi pasión por la
      tecnología, la programación y el entretenimiento digital en una
      herramienta útil y atractiva.
    </p>

    <h3>Nuestra Misión</h3>
    <p>
      En Rick and Morty Fan Hub, nuestra misión es enriquecer la experiencia de
      los aficionados de la serie. Me he esforzado por proporcionar una
      plataforma interactiva y rica en detalles para explorar el vasto universo
      de
      <em>Rick and Morty</em>. Mi objetivo es convertir esta aplicación web en
      una herramienta divertida y atractiva para los fans de la serie,
      permitiendo una inmersión profunda a través de la exploración y
      descubrimiento de información sobre personajes, episodios y ubicaciones.
    </p>

    <h3>Características Principales</h3>
    <ul>
      <li>
        <strong>Consulta de Personajes:</strong> Acceso a una lista completa de
        personajes con detalles como nombre, especie, género y ubicación. Obtén
        información detallada sobre tus personajes favoritos de la serie.
      </li>
      <li>
        <strong>Detalles de Personajes:</strong> Información detallada sobre
        cada personaje, incluyendo apariciones en episodios y su ubicación
        actual en el multiverso de Rick y Morty.
      </li>
      <li>
        <strong>Lista de Episodios:</strong> Explora una lista exhaustiva de
        episodios, con detalles como nombre, número y fecha de emisión. Revive
        tus episodios favoritos o descubre nuevos.
      </li>
      <li>
        <strong>Detalles de Episodios:</strong> Información específica sobre
        cada episodio, incluyendo los personajes que aparecen y los momentos más
        destacados.
      </li>
      <li>
        <strong>Valoraciones y Comentarios:</strong> Participa en la comunidad
        con calificaciones y comentarios sobre los episodios. Comparte tus
        opiniones y conecta con otros fans.
      </li>
      <li>
        <strong>Consulta de Ubicaciones:</strong> Explora diversas ubicaciones
        de la serie con datos interesantes sobre cada una. Sumérgete en los
        lugares más icónicos de Rick y Morty.
      </li>
      <li>
        <strong>Detalles de Ubicaciones:</strong> Aprende más sobre cada
        ubicación y los personajes asociados. Descubre los secretos detrás de
        los escenarios de la serie.
      </li>
      <li>
        <strong>Minijuegos:</strong> Diviértete con minijuegos interactivos
        relacionados con la serie. Pon a prueba tus conocimientos y habilidades
        en el mundo de Rick y Morty.
      </li>
    </ul>

    <h3>Nuestro Compromiso</h3>
    <p>
      Rick and Morty Fan Hub se destaca como un proyecto que fusiona innovación
      y funcionalidad en el ámbito del desarrollo de aplicaciones web. Cada
      aspecto de esta aplicación ha sido diseñado pensando en las necesidades y
      la experiencia del usuario, asegurando que sea no solo una fuente rica de
      información, sino también intuitiva y atractiva. Valoramos profundamente
      el interés y el apoyo de nuestra comunidad y estamos comprometidos a
      seguir mejorando y enriqueciendo esta plataforma para todos los seguidores
      de Rick and Morty.
    </p>

    <p>
      ¡Te invito a explorar, descubrir y disfrutar del mundo de Rick and Morty
      como nunca antes! Únete a nuestra comunidad de fans y vive la experiencia
      definitiva de Rick and Morty.
    </p>
  </div>
</div>
