<div class="container-form">
  <div *ngIf="editProfileForm" class="container mt-5">
    <h2 class="heading mb-4">
      Perfil de {{ user?.first_name }}&nbsp;{{ user?.last_name }}
    </h2>

    <form [formGroup]="editProfileForm" (submit)="onSubmit()" class="form">
      <input type="hidden" name="id" value="ID_AQUI" />
      <!-- Nombre -->
      <div class="form-group">
        <label for="first_name">Nombre:</label>
        <input
          id="first_name"
          class="form-control input"
          formControlName="first_name"
          placeholder="Ingrese su nombre"
        />
        <div
          *ngIf="
            editProfileForm?.get('first_name')?.hasError('hasNumber') &&
            editProfileForm?.get('first_name')?.touched
          "
          class="text-danger"
        >
          El nombre no debe contener números
        </div>
      </div>
      <br />

      <!-- Apellidos -->
      <div class="form-group">
        <label for="last_name">Apellidos:</label>
        <input
          id="last_name"
          class="form-control input"
          formControlName="last_name"
          placeholder="Ingrese sus apellidos"
        />
        <div
          *ngIf="
            editProfileForm?.get('last_name')?.hasError('hasNumber') &&
            editProfileForm?.get('last_name')?.touched
          "
          class="text-danger"
        >
          Los apellidos no deben contener números
        </div>
      </div>
      <br />

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" class="form-control input" formControlName="email" />
      </div>
      <br />

      <!-- Username -->
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          id="username"
          class="form-control input"
          formControlName="username"
        />
      </div>
      <br />

      <!-- Contraseña -->
      <div class="form-group">
        <!-- Botón para cambiar contraseña -->
        <button
          type="button"
          class="btn btn-sm change-password-button ml-2"
          (click)="togglePasswordFields()"
        >
          Cambiar Contraseña
        </button>
      </div>

      <!-- Campos de Contraseña, que se mostrarán solo si showPasswordFields es true -->
      <div *ngIf="showPasswordFields">
        <div class="form-group" style="position: relative">
          <label for="password">Nueva contraseña:</label>
          <div class="toggle-visibility-container">
            <input
              type="{{ passwordType }}"
              class="form-control input"
              id="password"
              formControlName="password"
              placeholder="Introduzca su contraseña"
              required
            />
            <button
              class="btn"
              type="button"
              id="password-toggle"
              (click)="togglePasswordVisibility()"
              (click)="toggleIconPassword()"
            >
              <i *ngIf="showIconPassword" class="fa-solid fa-eye-slash"></i>
              <i *ngIf="!showIconPassword" class="fa-solid fa-eye"></i>
            </button>
          </div>
          <div
            *ngIf="
              editProfileForm.get('password')?.hasError('pattern') &&
              editProfileForm.get('password')?.touched
            "
            class="text-danger"
          >
            La contraseña debe tener entre 8 y 16 caracteres, al menos un
            número, al menos un carácter especial, al menos una minúscula y al
            menos una mayúscula.
          </div>
          <br />
        </div>

        <!-- Confirmación de Contraseña -->
        <div class="form-group" style="position: relative">
          <label for="confirmPassword">Confirmar contraseña:</label>
          <div class="toggle-visibility-container">
            <input
              type="{{ confirmPasswordType }}"
              class="form-control input"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Repita su contraseña"
              required
            />
            <button
              class="btn"
              type="button"
              id="confirm-password-toggle"
              (click)="toggleConfirmPasswordVisibility()"
              (click)="toggleIconConfirmPassword()"
            >
              <i
                *ngIf="showIconConfirmPassword"
                class="fa-solid fa-eye-slash"
              ></i>
              <i *ngIf="!showIconConfirmPassword" class="fa-solid fa-eye"></i>
            </button>
          </div>
          <div
            *ngIf="
              editProfileForm.get('confirmPassword')?.invalid &&
              editProfileForm.get('confirmPassword')?.touched
            "
            class="text-danger"
          >
            La confirmación de la contraseña es obligatoria.
          </div>
          <div
            *ngIf="
              editProfileForm.hasError('passwordsDontMatch') &&
              editProfileForm.get('confirmPassword')?.touched
            "
            class="text-danger"
          >
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>

      <br />

      <!-- Fecha de Nacimiento -->
      <div class="form-group">
        <label for="birth_date">Fecha de nacimiento:</label>
        <input
          type="date"
          id="birth_date"
          class="form-control input"
          formControlName="birth_date"
        />
        <!-- Mensaje de error de Bootstrap para fecha futura -->
        <div
          *ngIf="
            editProfileForm?.get('birth_date')?.hasError('futureDate') &&
            editProfileForm?.get('birth_date')?.touched
          "
          class="text-danger"
        >
          La fecha de nacimiento no puede ser futura.
        </div>
      </div>
      <br />

      <button type="submit" class="login-button">Guardar Cambios</button>
    </form>

    <button
      (click)="onDeleteProfile()"
      class="btn btn-danger delete-profile-button"
    >
      Eliminar perfil
    </button>
  </div>
</div>
