* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 400px;
  min-height: 100vh;
}

/* Webkit (Chrome, Safari) */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0;
}

/* Firefox */
html,
body {
  scrollbar-width: none;
}

/* Internet Explorer y Edge */
body,
html {
  -ms-overflow-style: none;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: scroll !important;
}

body.swalfire-shown:not(.swalfire-no-backdrop):not(.swalfire-toast-shown),
html.swalfire-shown:not(.swalfire-no-backdrop):not(.swalfire-toast-shown) {
  overflow-y: scroll !important;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #eeeeee;
}

/* Estilo del thumb (el control deslizante) */
::-webkit-scrollbar-thumb {
  background-color: #393e46;
}

/* Estilo del thumb en estado hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #222831;
}

/* Estilo del track (la pista) */
::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

/* Estilo del track en estado hover */
::-webkit-scrollbar-track:hover {
  background-color: #eeeeee;
}

/* Ocultar barras de desplazamiento en dispositivos móviles */
@media (max-width: 767px) {
  body {
    overflow-y: scroll; /* Oculta la barra de desplazamiento vertical */
  }
}

/* Media queries */
@media (max-width: 600px) {
  .footer {
    padding: 20px 10px; /* Espaciado reducido para pantallas pequeñas */
  }

  .footer h6 {
    font-size: 1rem; /* Tamaño de fuente reducido para títulos */
  }

  .footer a,
  .footer .fab,
  .footer .btn-outline-light {
    font-size: 0.9rem; /* Tamaño de fuente reducido para enlaces y botones */
  }

  .footer .row {
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: center; /* Alineación central de los elementos */
  }

  body {
    padding-bottom: 600px; /* Reducir el padding inferior para evitar espacios vacíos */
  }
}
